{% extends "base.html" %}
{% block body %}
<h1 class="display-1">Pet details</h1>
<p>
  <h6 class="display-6">
    <u class="name">{{name}}</u>
    <span class="species badge rounded-pill bg-secondary">{{species}}</span>
  </h6>
  <h6 class="bought">Bought on {{bought}} {%if sold %}</h6>
  <span class="soldstatus badge rounded-pill bg-success">Sold</span>
  (on <span class="selldate">{{sold}}</span>)
  {% else %}
  <span class="soldstatus badge rounded-pill bg-primary">Available for sale</span>
  {%endif%}
  </h6>
  {% for t in tags %}
  <a class="tag" href="{{url_for('pets.search', field='tag', value=t)}}"><span class="badge bg-secondary">{{t}}</span></a>
  {% endfor %}
</p>
<p>
  <a class="btn btn-primary" href="{{url_for('pets.edit', pid=id)}}">Edit</a>
</p>

{% endblock %}
