{% extends "base.html" %}
{% block body %}
          <h4 class="display-4">Welcome to Species Pets</h4>
          <p>
            <table class="table table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col"> <a href="/search/{{field}}/{{value}}?order_by=id&order={{order}}">#</a> </th>
                <th scope="col"> <a href="/search/{{field}}/{{value}}?order_by=name&order={{order}}">Name</a>  </th>
                <th scope="col"> <a href="/search/{{field}}/{{value}}?order_by=bought&order={{order}}">Bought</a>  </th>
                <th scope="col"> <a href="/search/{{field}}/{{value}}?order_by=sold&order={{order}}">Sold</a> </th>
                <th scope="col"> <a href="/search/{{field}}/{{value}}?order_by=species&order={{order}}">Species</a> </th>
              </tr>
              </thead>
              {% for id, name, bought, sold, species in pets %}
              <tr>              
                <td scope="row" class="petid" ><a href="{{url_for('pets.pet_info', pid=id)}}">{{id}}</a></td>
                <td class="petname">{{name}} </td>
                <td class="petbought">{{bought}}</td>
                <td class="petsold">{{sold}}</td>
                <td class="petspecies">{{species}}</td>
              </tr>
              {%endfor%}
            </table>
          </p>
{% endblock %}
